* {
  padding: 0;
  margin: 0;
}

h1 {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Chokokutai", system-ui;
}

.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 800px;
  margin: 0 auto;
  gap: 2rem;
  height: 60vh;
  overflow: scroll;
}

.teams img:hover {
    background-color: rgb(15, 15, 114);
    cursor: pointer;
    border-radius: 50%;
    transform: scale(1.2);
    transition: .3s;
}

.card li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teams img {
  width: 70px;
}

.teams span {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10px;
  max-width: 100px;
}


@media (max-width: 750px) {
    .card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}